# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nc_tasks\04.05.21\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
