<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Прием закакзов таксопарка</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
    <header>Готовы принять ваш закакз!</header>
    <form action="success.html" method="post">
        <p><strong>Пожалуйста, укажите детали вашего заказа:</strong></p>

        <p>Количество людей:
            <label>
                <input type="text" size="10">
            </label>
        </p>

        <p>Общий вес груза:
            <label>
                <input type="text" size="10">
            </label>
        </p>

        <p>
            Комментарий к заказу<Br>
            <label>
                <textarea name="comment" cols="30" rows="5"></textarea>
            </label>
        </p>

        <p>
            <input type="submit" value="Заказать">
            <input type="reset" value="Сбросить">
        </p>
    </form>
</body>
</html>